    body {
        background: #222831; 
        font-family: 'Arial', sans-serif; /* Custom font */
    }

    h2, h3 {
        color: #f2f2f2;  /* Slightly off-white for titles */
    }

    h1 {
        font-size: 2.5rem; /* Larger font size */
        font-weight: 700; /* Bolder font */
        color: #f2f2f2; /* A color that stands out */
        text-align: center; /* Center alignment */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow */
        font-family: 'Arial', sans-serif; /* A clean, readable font */
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .secondary-text {
        color: #f2f2f2; 
    }


    .border-element {
        border-color: #2A2A2A;
    }
    @media (max-width: 768px) {
        h1 {
            font-size: 24px; /* Smaller font size on smaller screens */
        }
    }

    .custom-background {
        background-color: #393e46; /* Example background color */
        color: #f2f2f2; /* Text color for readability */
        padding: 15px; /* Some padding for better layout */
        border-radius: 5px; /* Optional rounded corners */
        margin-top: 10px; /* Space between button and div */
    }

    .footer {
        height: 100px;
    }
